<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="../../css/bootstrap.min.css" />
        <link href="../../stylesheets/navbar.css" rel="stylesheet">
    </head>
    <body class="position-relative" data-bs-spy="scroll">
        <%- include('./partials/navbar.ejs') %>
        <p>Login page</p>
        <div data-spy="scroll" data-target="#navbar" data-offset="0">
            <%- include('./partials/login.ejs')%>
        </div>
    </body>

        <%- include('./partials/scripts.ejs') %>
</html>