<!DOCTYPE html>
<html lang="en">

<head>
  <title>Meme Overview</title>
  <!-- BM Chaneg the path to the css files -->
  <link rel="stylesheet" href="../../css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="../../stylesheets/navbar.css" rel="stylesheet">
  <link href="../../stylesheets/style.css" rel="stylesheet">

</head>

<body class="position-relative" data-bs-spy="scroll">
  <%- include('./partials/navbar.ejs',{ user: user } ) %>
    <section class="container">
  <%- include('./partials/memes.ejs') %>
    </section>
    <%- include('./partials/scripts.ejs') %>
</body>

</html>