body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td {
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

th {
  text-align: center;
}

#table {
  border: #212529;
  border-radius: 10px;
  border-width: 1px;
  width: 75%;
  margin-bottom: 2px;
}